---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FSTC - About">
	<main class="pt-20 px-5 md:px-10 min-h-dvh">
		<p class="text-blue-500 font-bold text-2xl mb-3">About US</p>
		<p class="font-semibold text-xl mb-2">
			FSSAI Initiative for Ensuring food safety and hygiene
		</p>
		<ol class="list-disc pl-5">
			<li>
				It is mandatory that every food business operator (FBO) has a
				Food Safety Supervisor trained under the FoSTaC Training
				Programme.
			</li>
			<li>
				FSSAI had made Training mandatory of all Central and State
				Licensed FBOs direction under section 16 (5) of Food Safety and
				Standards Act, 2006 under Food Safety and Standards (Licensing
				and Registration of Food Business) Amendment Regulations, 2019,
				effective from 28th August 2019 for food regulatory compliance .
				Each Food Business Operator, exceeding specified head count
				needs to have at least one trained & certified person for every
				25 food handlers in their business premises to ensure food
				safety. The FSSAI shall provide training programs through their
				empanelled training partner in food safety and standards for
				people who are in the food businesses, whether as food business
				operators or employees or otherwise.
			</li>
			<li>
				Food Safety Training Corporation (FSTC)is authorized to provide
				training under this programme. We are conducting a range of
				In-house and Open training for Individuals and corporates alike.
			</li>
		</ol>
		<br />
		<p class="font-semibold text-xl">About the Course</p>
		<p class="mb-2">
			16 types of Competence based certification programmes are available
			under FoSTaC. Duration of each course is of 8 to 12 hours spreading
			over 1 to 2 days. Course have been developers by domain experts and
			visited by expert committee of FSSAI. Training manuals are based on
			general hygiene or manufacturing practices as detailed under
			schedule 4 of FSS Regulation courses have been divided into
			following 3 levels-
		</p>
		<div class="flex flex-col gap-2">
			<div
				class="bg-gray-50 hover:bg-gray-100 hover:shadow-sm p-1 rounded-sm transition-colors"
			>
				<p class="font-bold text-lg">Basic</p>
				<p>
					Basic level certification are meant for food business.
					Duration of each course is of 4 hours. Course are: -
				</p>
				<ol class="list-decimal pl-5">
					<li>Street Food Vending</li>
					<li>Catering</li>
					<li>Manufacturing/Processing</li>
					<li>Storage & Transpost</li>
					<li>Retail & Distribution</li>
				</ol>
			</div>
			<div
				class="bg-gray-50 hover:bg-gray-100 hover:shadow-sm p-1 rounded-sm transition-colors"
			>
				<p class="font-bold text-lg">Advance</p>
				<p>
					Advanced courses and certification are for State & Central
					Licensed food business. Duration of each course is 8 hours.
					Course are: -
				</p>
				<ol class="list-decimal pl-5">
					<li>Catering</li>
					<li>Manufacturing/Processing</li>
					<li>Storage & Transport</li>
					<li>Retail & Distribution</li>
				</ol>
			</div>
			<div
				class="bg-gray-50 hover:bg-gray-100 hover:shadow-sm p-1 rounded-sm transition-colors"
			>
				<p class="font-bold text-lg">Special</p>
				<p>
					Special course have been developed for high risk food
					business or The food business which require special
					attention. Duration of special course is 8-12 hours. Spread
					over 1-2 days. Course are: -
				</p>
				<ol class="list-decimal pl-5">
					<li>Milk & Milk Products</li>
					<li>Meat & Poultry</li>
					<li>Fish & Sea Food</li>
					<li>Packaged Water</li>
					<li>Bakery</li>
					<li>Edible Oil and Fat</li>
					<li>Health Supplements & Nutraceuticals</li>
				</ol>
			</div>
		</div>
		<br />
		<p class="font-semibold text-xl mb-2">Mode of Delivery</p>
		<ol class="list-disc pl-5">
			<li>
				The training programs for the Food Safety Supervisors at all 3
				levels (viz. Basic, Advanced and Special) would be conducted
				through the classroom sessions.
			</li>
			<li>
				The content for FOSTAC has been created by our experts to
				address the specific needs of each of these identified groups.
			</li>
			<li>
				FSSAI notified FosTaC Trainer only on their specific field can
				provide this training.
			</li>
			<li>
				FoSTaC program shall be conduct a range of In-house and Open
				training for Individuals and corporate
			</li>
			<li>
				Maximum number of participants are not more than 40 in one
				training session.
			</li>
		</ol>
		<br />
		<p class="font-semibold text-lg">Related Links</p>

		<div class="grid grid-cols-2 gap-4 text-blue-500">
			<a href="https://www.cphfs.in/fostac.php#collapse2" target="_blank"
				>FOSTAC Tarining Courses</a
			>
			<a href="https://www.cphfs.in/fostac.php#collapse3" target="_blank"
				>Advantage of the FoSTaC training</a
			>
			<a href="https://www.cphfs.in/fostac.php#collapse4" target="_blank"
				>Training/Audit Request Form</a
			>
			<a href="https://www.cphfs.in/fostac.php#collapse3" target="_blank"
				>Hygeine Rating Scheme</a
			>
		</div>
		<br />
		<p class="font-semibold text-xl mb-2">Hygiene Rating Scheme</p>
		<p class="mb-2">
			It is a certification system for the food service and retail
			establishments providing food directly to the consumers. The food
			businesses are rated based on food hygiene and safety conditions
			observed at the time of audit/inspection. The hygiene rating
			certificate will be displayed prominently in the food service area
			to create demand of high levels of food hygiene standards.
		</p>
		<p class="md:text-center">FSSAI Hygiene Rating Program</p>
		<p class="md:text-center">
			About FSSAI Hygiene Raing Scheme <a
				href="https://hygiene.fssai.gov.in/about.php"
				target="_blank"
				class="text-blue-500"
				>(Hygiene Rating Program FSSAI)
			</a>
		</p>
		<p class="md:text-center">
			To know more download Hygeine Rating <a
				href="https://hygiene.fssai.gov.in/resources/Hygiene%20Rating%20Document_Jan21_VerIV.pdf"
				target="_blank"
				class="text-blue-500">(Hygiene Rating Guidance)</a
			>
		</p>
		<br />
		<ol class="list-disc pl-5">
			<li class="mb-2">
				<b>HYGIENE RATING AUDIT FEE STRUCTURE:-</b> Audit fees calculation
				based upon the organization license category, number of food handlers
				/ employees and the audit time required for particular Audit as per
				standards norms.
			</li>
			<li class="mb-2">
				<b>FSSAI Registration:</b> INR 3,000 / Inspection, State License:-INR
				6,000 / Inspection, Central License:-INR 9,000 / Inspection,
				Additionally, 18% applicable GST, Auditor Travel and other
				expense will be charge extra.
			</li>
			<li class="mb-2">
				<b>Note: </b>Other Standard Fees only applicable when it is defined by
				the Central/ State Food Safety Department based upon official
				notification or work order at particular location ( State/
				District) to FBOs.
			</li>
			<li class="mb-2">
				<b>Flexibility in fee:</b> Discount of up to 15% can be given in
				case the Food Business Operator has multiple locations to be audited.
			</li>
			<li class="mb-2">
				For more info (Query/Suggestion/Feedback) contact
				<a href="mailto:infoindiafstc@gmail.com" class="text-blue-500"
					>infoindiafstc@gmail.com</a
				>
			</li>
			<li class="mb-2">
				<b>Eat Right Campus:-</b>The 'Eat Right Campus' initiative led by FSSAI
				aims to promote safe, healthy and sustainable food in campuses
				such as schools, universities, colleges, workplaces, hospitals,
				tea estates etc. across the country. The objective is to improve
				the health of people and the planet and promote social and
				economic development of the nation.
			</li>
			<li class="mb-2">
				<b>BENEFITS OF EAT RIGHT CAMPUS:-</b>While the Eat Right Campus
				initiative is not mandatory to adopt, it can provide immense
				benefits to the campus and the individuals in the campus not
				only in terms of health but also economics. Safe, healthy and
				sustainable food in the campus would reduce the incidence of
				food borne illnesses, deficiency diseases and non-communicable
				diseases among the people in the campus. This means less
				absenteeism and loss of working hours and greater wellbeing,
				motivation and productivity of people. This would also reduce
				the burden of healthcare costs for the workplace, institution,
				hospital, jail or tea estate. All these factors would ultimately
				result in economic benefits to the campus. In addition, being
				recognized as an Eat Right Campus would increase the prestige
				and brand value of the campus, making it attractive for
				prospective students, employees etc. Last but not the least,
				this would also inspire other campuses to promote safe, healthy
				and sustainable food, thus resulting in the overall development
				of the country.
			</li>
			<li class="mb-2">
				<b>Certification Process:-</b>Once enrolled in this programme, a campus
				first undergoes a self-assessment or a third-party audit by an
				FSSAI empaneled agency based on this checklist to identify gaps
				and areas of improvement. The campus administration then takes
				steps to address these gaps. A critical step of this process
				includes training of Food Safety Supervisors and food handlers
				in the campus through FSSAI's Food Safety Training and
				Certification (FoSTaC) Programme. Once these improvements are
				made, the campus undergoes a third-party audit by the same
				FSSAI-empaneled agency and is given a rating on a five-star
				scale.If a campus scores three or more stars, it is certified as
				an 'Eat Right Campus'. The certification is valid for two years.
				In order to ensure that these best practices continue, the
				campus appoints a nodal person to oversee these efforts. Food
				Safety Department or audit agencies may carry out regular
				inspections to ensure quality control until the certification is
				renewed.
			</li>
			<li class="mb-5">
				For more info (Query/Suggestion/Feedback) contact
				<a href="mailto:infoindiafstc@gmail.com"
				class="text-blue-500"
					>infoindiafstc@gmail.com</a
				>
			</li>
		</ol>
	</main>
</Layout>

<style></style>
