---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="About Food Safety Training Corporation (FSTC) - Expert Food Safety Training"
	description="Learn about FSTC, a premier provider of food safety training and certification in India, dedicated to improving food safety standards nationwide."
>
	<main class="pt-20 px-5 md:px-10 min-h-dvh">
		<h1 class="text-blue-500 font-bold text-2xl mb-3">About Us</h1>

		<h2 class="font-semibold text-xl mb-2">
			FSSAI Initiative for Ensuring Food Safety and Hygiene
		</h2>
		<ul class="list-disc pl-5">
			<li>
				It is mandatory that every food business operator (FBO) has a
				Food Safety Supervisor trained under the FoSTaC Training
				Programme.
			</li>
			<li>
				FSSAI made Training mandatory for all Central and State Licensed
				FBOs as per regulations effective from 28th August 2019.
			</li>
			<li>
				FSTC is authorized to provide training under this programme,
				conducting a range of In-house and Open training for individuals
				and corporates alike.
			</li>
		</ul>

		<h2 class="font-semibold text-xl mb-2">About the Course</h2>
		<p class="mb-2">
			The FoSTaC program includes 16 types of competence-based
			certification programs, each lasting 8 to 12 hours over 1 to 2 days.
		</p>

		<div class="flex flex-col gap-2">
			<div
				class="bg-gray-50 hover:bg-gray-100 hover:shadow-sm p-1 rounded-sm transition-colors"
			>
				<h3 class="font-bold text-lg">Basic</h3>
				<p>
					Basic level certification for food business. Duration: 4
					hours.
				</p>
				<ol class="list-decimal pl-5">
					<li>Street Food Vending</li>
					<li>Catering</li>
					<li>Manufacturing/Processing</li>
					<li>Storage & Transport</li>
					<li>Retail & Distribution</li>
				</ol>
			</div>
			<div
				class="bg-gray-50 hover:bg-gray-100 hover:shadow-sm p-1 rounded-sm transition-colors"
			>
				<h3 class="font-bold text-lg">Advanced</h3>
				<p>
					Advanced courses for State & Central Licensed food business.
					Duration: 8 hours.
				</p>
				<ol class="list-decimal pl-5">
					<li>Catering</li>
					<li>Manufacturing/Processing</li>
					<li>Storage & Transport</li>
					<li>Retail & Distribution</li>
				</ol>
			</div>
			<div
				class="bg-gray-50 hover:bg-gray-100 hover:shadow-sm p-1 rounded-sm transition-colors"
			>
				<h3 class="font-bold text-lg">Special</h3>
				<p>
					Special courses for high-risk food business. Duration: 8-12
					hours.
				</p>
				<ol class="list-decimal pl-5">
					<li>Milk & Milk Products</li>
					<li>Meat & Poultry</li>
					<li>Fish & Sea Food</li>
					<li>Packaged Water</li>
					<li>Bakery</li>
					<li>Edible Oil and Fat</li>
					<li>Health Supplements & Nutraceuticals</li>
				</ol>
			</div>
		</div>

		<br />
		<p class="font-semibold text-xl mb-2">Mode of Delivery</p>
		<ol class="list-disc pl-5">
			<li>
				The training programs for the Food Safety Supervisors at all 3
				levels (viz. Basic, Advanced and Special) would be conducted
				through the classroom sessions.
			</li>
			<li>
				The content for FOSTAC has been created by our experts to
				address the specific needs of each of these identified groups.
			</li>
			<li>
				FSSAI notified FosTaC Trainer only on their specific field can
				provide this training.
			</li>
			<li>
				FoSTaC program shall be conduct a range of In-house and Open
				training for Individuals and corporate
			</li>
			<li>
				Maximum number of participants are not more than 40 in one
				training session.
			</li>
		</ol>
		<br />
		<p class="font-semibold text-lg">Related Links</p>

		<div class="grid grid-cols-2 gap-4 text-blue-500">
			<a
				href="https://www.cphfs.in/fostac.php#collapse2"
				target="_blank"
				rel="noopener">FOSTAC Tarining Courses</a
			>
			<a
				href="https://www.cphfs.in/fostac.php#collapse3"
				target="_blank"
				rel="noopener">Advantage of the FoSTaC training</a
			>
			<a
				href="https://www.cphfs.in/fostac.php#collapse4"
				target="_blank"
				rel="noopener">Training/Audit Request Form</a
			>
			<a
				href="https://www.cphfs.in/fostac.php#collapse3"
				target="_blank"
				rel="noopener">Hygeine Rating Scheme</a
			>
		</div>

		<br />

		<h2 class="font-semibold text-xl mb-2">Hygiene Rating Scheme</h2>

		<p class="mb-2">
			It is a certification system for the food service and retail
			establishments providing food directly to consumers. The food
			businesses are rated based on food hygiene and safety conditions
			observed at the time of audit/inspection. The hygiene rating
			certificate will be displayed prominently in the food service area
			to create demand for high levels of food hygiene standards.
		</p>

		<p class="md:text-center">FSSAI Hygiene Rating Program</p>

		<p class="md:text-center">
			About the FSSAI Hygiene Rating Scheme: <a
				href="https://hygiene.fssai.gov.in/about.php"
				target="_blank"
				rel="noopener"
				class="text-blue-500">(Hygiene Rating Program FSSAI)</a
			>
		</p>

		<p class="md:text-center">
			To know more, download the Hygiene Rating Guidance: <a
				href="https://hygiene.fssai.gov.in/resources/Hygiene%20Rating%20Document_Jan21_VerIV.pdf"
				target="_blank"
				rel="noopener"
				class="text-blue-500">(Hygiene Rating Guidance)</a
			>
		</p>

		<br />

		<ol class="list-disc pl-5 mb-4">
			<li class="mb-2">
				<strong>HYGIENE RATING AUDIT FEE STRUCTURE:</strong> Audit fees are
				calculated based on the organization's license category, number of
				food handlers/employees, and the audit time required as per standard
				norms.
			</li>
			<li class="mb-2">
				<strong>FSSAI Registration:</strong> INR 3,000 per inspection for
				State License, INR 6,000 per inspection for Central License, INR
				9,000 per inspection. Additionally, 18% GST, auditor travel, and
				other expenses will be charged extra.
			</li>
			<li class="mb-2">
				<strong>Note:</strong> Other standard fees apply only when defined
				by the Central/State Food Safety Department based on official notification
				or work order at a particular location (State/District) to FBOs.
			</li>
			<li class="mb-2">
				<strong>Flexibility in Fee:</strong> A discount of up to 15% can
				be given if the Food Business Operator has multiple locations to
				be audited.
			</li>
			<li class="mb-2">
				For more information (queries/suggestions/feedback), contact <a
					href="mailto:infoindiafstc@gmail.com"
					class="text-blue-500">infoindiafstc@gmail.com</a
				>.
			</li>
			<li class="mb-2">
				<strong>Eat Right Campus:</strong> The 'Eat Right Campus' initiative
				led by FSSAI aims to promote safe, healthy, and sustainable food
				in various campuses such as schools, universities, colleges, workplaces,
				hospitals, and tea estates across the country. The objective is to
				improve the health of people and the planet and promote social and
				economic development.
			</li>
			<li class="mb-2">
				<strong>Benefits of Eat Right Campus:</strong> While adopting the
				Eat Right Campus initiative is not mandatory, it offers significant
				benefits. Safe, healthy, and sustainable food can reduce foodborne
				illnesses, deficiency diseases, and non-communicable diseases. This
				leads to less absenteeism, reduced healthcare costs, increased well-being,
				motivation, and productivity. It also enhances the prestige and brand
				value of the campus, attracting prospective students and employees.
				Additionally, it inspires other campuses to promote similar standards,
				contributing to overall national development.
			</li>
			<li class="mb-2">
				<strong>Certification Process:</strong> Upon enrollment, a campus
				undergoes a self-assessment or a third-party audit by an FSSAI-empaneled
				agency based on a checklist to identify gaps and areas for improvement.
				The campus administration then addresses these gaps and provides
				training for Food Safety Supervisors and food handlers through FSSAI's
				FoSTaC Programme. After improvements are made, a third-party audit
				is conducted, and the campus is rated on a five-star scale. A campus
				scoring three or more stars is certified as an 'Eat Right Campus'.
				The certification is valid for two years, with regular inspections
				to ensure quality control until renewal.
			</li>
			<li class="mb-5">
				For more information (queries/suggestions/feedback), contact <a
					href="mailto:infoindiafstc@gmail.com"
					class="text-blue-500">infoindiafstc@gmail.com</a
				>.
			</li>
		</ol>
	</main>
</Layout>

<style></style>
