---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FSTC - Home">
	<main class="pt-20 px-5 lg:px-10 min-h-dvh">
		<section class="flex flex-col md:flex-row justify-around">
			<div class="w-full md:w-2/3">
				<p class="mb-2">
					<b class="font-lg">Food Safety Training Corporation (FSTC)</b> offers skilling programs leading to certification, placement
					, capacity building and entrepreneurship focusing on the Food
					Processing Industry.
				</p>
				<p class="mb-2">
					FSTC has created a vibrant ecosystem that includes
					standards, model curriculum and learning resources, a
					network of affiliated training centres and Vocational
					Colleges, supported by industry experts master trainers and
					assessors for providing industry relevant skills. The
					National Council for Vocational Education & Training (a
					regulatory body under the Union Ministry of Skill
					Development and Entrepreneurship) has recognised FSTC as an
					awarding body.
				</p>
		
				<p class="mb-2">FSSAI Initiative for Ensuring food safety and hygiene)-</p>
				<ul class="list-disc pl-5 mb-2">
					<li  class="mb-2">
						It is mandatory that every food business operator (FBO)
						has a Food Safety Supervisor trained under the FoSTaC
						Training Programme.
					</li>
					<li class="mb-2">
						FSSAI had made Training mandatory of all Central and
						State Licensed FBOs direction under section 16 (5) of
						Food Safety and Standards Act, 2006 under Food Safety
						and Standards (Licensing and Registration of Food
						Business) Amendment Regulations, 2019, effective from
						28th August 2019 for food regulatory compliance . Each
						Food Business Operator, exceeding specified head count
						needs to have at least one trained & certified person
						for every 25 food handlers in their business premises to
						ensure food safety. The FSSAI shall provide training
						programs through their empanelled training partner in
						food safety and standards for people who are in the food
						businesses, whether as food business operators or
						employees or otherwise.
					</li>
					<li class="mb-2">
						Food Safety Training Corporation (FSTC)is authorized to
						provide training under this programme. We are conducting
						a range of In-house and Open training for Individuals
						and corporates alike.
					</li>
				</ul>
			</div>
			<div class="w-full md:w-1/3 flex justify-center items-center">
				<img src="/public/img1.png" alt="" />
			</div>
		</section>
		<br />
		<section class="flex justify-center">
			<img src="/public/img3.png" alt="" />
		</section>
		<br />
		<section>
			<p class="text-xl font-bold">About The Course</p>
			<p>
				16 types of Competence based certification programmes are
				available under FoSTaC. Duration of each course is of 8 to 12
				hours spreading over 1 to 2 days. Course have been developers by
				domain experts and visited by expert committee of FSSAI.
				Training manuals are based on general hygiene or manufacturing
				practices as detailed under schedule 4 of FSS Regulation courses
				have been divided into following 3 levels-
			</p>
			<br />
			<div class="flex flex-col gap-2">
				<div
					class="bg-gray-50 hover:bg-gray-100 hover:shadow-sm p-1 rounded-sm transition-colors"
				>
					<p class="font-bold text-lg">Basic</p>
					<p>
						Basic level certification are meant for food business.
						Duration of each course is of 4 hours. Course are: -
					</p>
					<ol class="list-decimal pl-5">
						<li>Street Food Vending</li>
						<li>Catering</li>
						<li>Manufacturing/Processing</li>
						<li>Storage & Transpost</li>
						<li>Retail & Distribution</li>
					</ol>
				</div>
				<div
					class="bg-gray-50 hover:bg-gray-100 hover:shadow-sm p-1 rounded-sm transition-colors"
				>
					<p class="font-bold text-lg">Advance</p>
					<p>
						Advanced courses and certification are for State &
						Central Licensed food business. Duration of each course
						is 8 hours. Course are: -
					</p>
					<ol class="list-decimal pl-5">
						<li>Catering</li>
						<li>Manufacturing/Processing</li>
						<li>Storage & Transport</li>
						<li>Retail & Distribution</li>
					</ol>
				</div>
				<div
					class="bg-gray-50 hover:bg-gray-100 hover:shadow-sm p-1 rounded-sm transition-colors"
				>
					<p class="font-bold text-lg">Special</p>
					<p>
						Special course have been developed for high risk food
						business or The food business which require special
						attention. Duration of special course is 8-12 hours.
						Spread over 1-2 days. Course are: -
					</p>
					<ol class="list-decimal pl-5">
						<li>Milk & Milk Products</li>
						<li>Meat & Poultry</li>
						<li>Fish & Sea Food</li>
						<li>Packaged Water</li>
						<li>Bakery</li>
						<li>Edible Oil and Fat</li>
						<li>Health Supplements & Nutraceuticals</li>
					</ol>
				</div>
			</div>
		</section>
		<br />
		<section>
			<p class="border-t-4 text-4xl font-semibold text-center">
				Our Service
			</p>
			<br />
			<div class="flex flex-col lg:flex-row border-b-2 py-2">
				<div class="lg:w-2/3">
					<p class="text-blue-500 font-bold text-2xl mb-3">
						FSSAI License
					</p>
					<p>
						Product Approval and Label Validation are two important
						parts of the Food Safety Management System, ensuring
						Compliance with FSSAI [Food Safety and Standards
						Authority of India].
					</p>
					<br />
					<p>
						Food Safety Management Plan with complete documentation
						and a standard operational process in line is essential
						for Business to be FSSAI Compliant.
					</p>
					<br />
					<p class="font-medium text-xl">
						Key Factors for FSSAI Compliance
					</p>
					<br />
					<p class="text-lg">Product Approval Validation (PAV) :</p>
					<p>
						It is a process by which any novel ingredient(s) or
						additive(s) not prescribed in the act/regulation can be
						approved by FSSAI. An FBO needs to get his product
						approved before licensing procedure and release into the
						market.
					</p>
					<br />
					<p class="text-lg">Label Validation (LV) :</p>
					<p>
						Label Validation means ensuring the information and the
						format of the product's label are accurate and complies
						with the FSSAI regulations. This maintains complete
						transparency with respect to the product information,
						helping consumers make the informed purchase.
					</p>
				</div>
				<div class="lg:w-1/3 flex align-middle items-center">
					<img src="/public/img4.png" alt="img4" />
				</div>
			</div>
			<br />
			<div class="flex flex-col lg:flex-row border-b-2 py-2">
				<div class="lg:w-2/3">
					<p class="text-blue-500 font-bold text-2xl mb-3">
						FSSAI Certified Fostac Training
					</p>
					<p class="mb-2">
						Food Safety and Standards Authority of India (FSSAI) has
						started a new initiative called FoSTaC (Food Safety
						Training and Certification). FSSAI and Equinox have
						joined hands to initiate Food Safety Supervisor
						Programme.
					</p>
					<p class="font-semibold mb-2">
						It is mandatory that every food business operator (FBO)
						has a Food Safety Supervisor trained under the FoSTaC
						Training Programme.
					</p>
					
					<p class="font-medium text-xl mb-2">
						What will you gain from the training?
					</p>
					
					<ul class="list-disc pl-5">
						<li class="mb-2">
							Understanding basic concepts of food safety &
							hygiene.- Minimizing legal hassles & helps in
							complying to FSSAI Requirements.
						</li>
						<li class="mb-2">You can train people within your organisation.</li>
						<li class="mb-2">
							Lowering the percentage of food infections &
							poisoning & also long term consequences due to such
							incidents.
						</li>
						<li class="mb-2">
							Certificate from FSSAI, after successful completion
							of the training.
						</li>
					</ul>
				</div>
				<div class="lg:w-1/3 flex align-middle items-center">
					<img src="/public/img5.jpg" alt="img5" />
				</div>
			</div>
			<br />
			<div class="border-b-2 py-2">
				<div>
					<p class="text-blue-500 font-bold text-2xl mb-3">
						Designing Food Safety Management Plan
					</p>
					<ul class="list-disc pl-5 mb-2">
						<li>
							<a
								href="https://foodsafeservices.in/designing-food-safety-management-plan/#1550736636999-fcece321-d9a7"
								target=”_blank”
								>Overview</a
							>
						</li>
						<li>
							<a
								href="https://foodsafeservices.in/designing-food-safety-management-plan/#1550736637016-64d20639-4ce6"
								target=”_blank”
								>Benefits</a
							>
						</li>
					</ul>
					<p class="mb-2">
						Food Safety is developed by food industry experts from
						retailers, manufacturers and food service organisations
						to ensure it is rigorous and detailed, yet easy to
						understand.
					</p>
					
					<p class="mb-2">
						First published in 1998, the Standard is now in its
						eighth issue and is well-established globally. It has
						evolved with input from many leading global specifiers.
					</p>
					
					<p class="mb-2">
						It provides a framework to manage product safety,
						integrity, legality and quality, and the operational
						controls for these criteria in the food and food
						ingredient manufacturing, processing and packing
						industry.
					</p>
					
					<p class="font-medium text-xl mb-2">Focuses On:</p>
					<ul class="list-disc pl-5 mb-2">
						<li class="mb-2">
							encouraging development of product safety culture;
						</li>
						<li class="mb-2">
							expanding the requirements for environmental
							monitoring to reflect the increasing importance of
							this technique;
						</li>
						<li class="mb-2">
							encouraging sites to further develop systems for
							security and food defence;
						</li>
						<li class="mb-2">
							adding clarity to the requirements for high-risk,
							high-care and ambient high-care production risk
							zones;
						</li>
						<li class="mb-2">
							providing greater clarity for sites manufacturing
							pet food; and
						</li>
						<li class="mb-2">
							ensuring global applicability and bench-marking to
							the Global Food Safety Initiative (GFSI).
						</li>
					</ul>
				</div>
				<br />
				<div class="mb-2">
					<p class="font-medium text-xl mb-2">
						Divided into nine sections :
					</p>
					
					<ol class="list-decimal pl-5 mb-2">
						<li class="font-bold">SENIOR MANAGEMENT COMMITMENT</li>
						<p class="mb-2">
							Commitment at a senior level is essential in the
							development of a good food safety culture and is
							therefore necessary for any food safety system to be
							effective and to ensure the full application and
							continual development of these systems.
						</p>
						
						<li class="font-bold">THE FOOD SAFETY PLAN - HACCP</li>
						<p class="mb-2">
							Effective hazard and risk analysis enables the
							company to identify and manage those hazards that
							may pose a risk to the safety, quality and integrity
							of their products. The BRC Global Standard requires
							the development of an effective hazard analysis and
							critical control point (HACCP) programme based on
							the requirements of the internationally recognised
							Codex Alimentarius system.
						</p>
						
						<li class="font-bold">
							FOOD SAFETY AND QUALITY MANAGEMENT SYSTEM
						</li>
						<p class="mb-2">
							This section ensures the company works to
							well-documented, systematic management systems that
							form the basis for the product and process controls
							necessary to produce safe products, meet customer
							expectations and ensure staff are trained.
						</p>
						
						<li class="font-bold">SITE STANDARDS</li>
						<p class="mb-2">
							This covers the suitability, cleanliness and control
							of the site and includes topics such as factory
							conditions, cleaning, equipment, pest control,
							foreign body controls and food defence/site
							security.
						</p>
						
						<li class="font-bold">PRODUCT CONTROL</li>
						<p class="mb-2">
							Establishing product controls such as allergen
							management, the prevention of food fraud and product
							testing are important in the reliable delivery of
							safe, authentic products.
						</p>
						
						<li class="font-bold">PROCESS CONTROL</li>
						<p class="mb-2">
							These requirements ensure that the documented HACCP
							plan is put into operation on a daily basis,
							together with effective procedures to consistently
							manufacture the product to the correct quality.
						</p>
						
						<li class="font-bold">PERSONNEL</li>
						<p class="mb-2">
							Training, protective clothing and hygiene practices
							are covered in this section.
						</p>
						
						<li class="font-bold">
							HIGH-RISK, HIGH-CARE AND AMBIENT HIGH-CARE
							PRODUCTION RISK ZONES
						</li>
						<p class="mb-2">
							A specific section of the Standard dealing with
							products that are susceptible to potential pathogen
							contamination and therefore need additional controls
							to ensure product safety.
						</p class="mb-2">
						
						<li class="font-bold">
							REQUIREMENTS FOR TRADED PRODUCTS
						</li>
						<p class="mb-2">
							A voluntary additional section of the Standard for
							sites that purchase and sell food products that
							would normally fall within the scope of the Standard
							and are stored at the site's facilities, but which
							are not manufactured, further processed or packed at
							the site being audited.
						</p>
					</ol>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style></style>
