---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Current Job Vacancies at Food Safety Training Corporation (FSTC) - Opportunities in the Food Industry"
	description="Find the latest job vacancies at Food Safety Training Corporation (FSTC). We offer a range of positions in the food industry for skilled professionals. Explore opportunities to join our team and contribute to advancing food safety standards through impactful roles."
>
	<main class="pt-20 px-5 lg:px-10 min-h-dvh">
		<section>
			<p class="text-3xl mb-5">Vacancies at All India Level</p>
			<div class="overflow-x-auto">
				<table class="min-w-full bg-white border border-gray-200">
					<thead>
						<tr>
							<th
								class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
								scope="col"
							>
								Position
							</th>
							<th
								class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
								scope="col"
							>
								Qualification
							</th>
							<th
								class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
								scope="col"
							>
								Age Limit
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								State Coordinator
							</td>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								Graduation
							</td>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								32
							</td>
						</tr>
						<tr>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								Zonal Head
							</td>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								Graduation
							</td>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								30
							</td>
						</tr>
						<tr>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								District Head
							</td>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								Graduation
							</td>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								32
							</td>
						</tr>
						<tr>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								Data Entry Operator
							</td>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								Intermediate, 3 months Computer Course
							</td>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								28
							</td>
						</tr>
						<tr>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								Field Supervisor
							</td>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								Intermediate
							</td>
							<td
								class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-center"
							>
								28
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

		<br />

		<section
			class="flex flex-col md:flex-row justify-center items-center gap-2 md:gap-5"
		>
			<a
				href="https://docs.google.com/forms/d/e/1FAIpQLSfG2ZSjWE4dbIY3Q1Bs-D0LRjtwCvDSlh3tpn9IZSszXscKTA/viewform"
				target="_blank"
				rel="noreferrer noopener"
			>
				<button
					class="btn bg-yellow-400 p-1 lg:p-5 lg:text-xl font-semibold flex justify-center items-center hover:shadow-lg rounded-sm border-black border"
				>
					Application Form
					<img
						src="/external-link.svg"
						alt="External link to application form"
						class="ml-1 w-4 h-4"
					/>
				</button>
			</a>
			<div class="flex rounded-sm">
				<p
					class="bg-green-400 p-1 lg:p-5 lg:text-lg font-semibold border-black border border-e-0"
				>
					Result
				</p>
				<a
					href="https://docs.google.com/spreadsheets/d/13v-H2XZ7JtH0BjIfi5MO6gcC01yzMU6UHMCAF39Q4ic/edit?gid=0#gid=0"
					target="_blank"
					rel="noreferrer noopener"
				>
					<button
						class="btn bg-green-400 p-1 lg:p-5 lg:text-lg font-semibold flex justify-center items-center hover:shadow-xl border-black border border-e-0"
					>
						2023-24
						<img
							src="/external-link.svg"
							alt="External link to 2023-24 results"
							class="ml-1 w-4 h-4"
						/>
					</button>
				</a>
				<a
					href="https://docs.google.com/spreadsheets/d/1fZKdfezhD8L7jtF3lzZkVfLuWCo0PBxgRaryDUhBiXY/edit?gid=0#gid=0"
					target="_blank"
					rel="noreferrer noopener"
				>
					<button
						class="btn bg-green-400 p-1 lg:p-5 lg:text-lg font-semibold flex justify-center items-center hover:shadow-lg border-black border"
					>
						2024-25
						<img
							src="/external-link.svg"
							alt="External link to 2024-25 results"
							class="ml-1 w-4 h-4"
						/>
					</button>
				</a>
			</div>
		</section>

		<br />

		<section>
			<p class="text-blue-500 font-bold text-2xl mb-3">
				Jobs in the Food Industry
			</p>
			<p class="mb-3">
				India is a hub for food processing, and there are plenty of food
				industry jobs available, catering to various skill sets. If you
				are passionate about ensuring the quality of food and
				contributing to the food industry's growth, then jobs in the
				food processing industry may be the perfect fit for you. The
				food industry is a dynamic and ever-changing field that is
				constantly on the lookout for fresh talent to innovate and drive
				its growth. There are plenty of food industry jobs available for
				experienced professionals as well as fresh graduates. If you are
				a recent graduate with a background in food technology, there
				are plenty of opportunities for you to explore. Whether it be in
				quality control or product development, the food industry offers
				an array of exciting career paths.
			</p>
			<p class="mb-3">
				Keeping that in mind, FICSI has developed India's first job
				portal for the Food Processing Industries.
			</p>
			<p class="mb-3">
				Those interested in exploring jobs in the food processing
				industry can upload their CVs and reach out to potential
				employers through a single-window portal. The job portal allows
				you to:
			</p>
			<ol class="list-disc pl-5 mb-5">
				<li>
					Search jobs under desired job roles across various
					sub-sectors
				</li>
				<li>
					Regularly update your qualifications after completing a new
					food safety course
				</li>
				<li>Get notified about new jobs that match your profile</li>
			</ol>

			<p class="text-blue-500 font-bold text-2xl mb-3">
				A Trusted Platform for Quality Jobs in The Food Industry
			</p>
			<p class="mb-3">
				The Food Industry Capacity and Skill Initiative (FICSI) is an
				organization that provides a platform for young professionals to
				connect with industry leaders and gain specialized training to
				establish themselves in the sector. Whether you're looking for
				jobs for food technology freshers, quality assurance roles, or
				quality control positions, you'll find them all here. If you
				have a passion for food and an eagerness to learn, the food
				industry is the perfect place for you to start your career
				journey.
			</p>
			<p class="mb-3">
				Food quality control jobs in the food industry involve
				inspecting products, ensuring they meet certain standards, and
				making sure they are safe for consumption. Freshers in this
				field can also explore careers in product development, food
				processing, and research and development. Quality assurance
				roles are also in high demand as companies strive to meet and
				exceed industry standards. FICSI is a great resource for those
				looking to build their careers in the food industry. With
				numerous exciting opportunities available, the food industry is
				a promising field for freshers looking to make their mark.
				Joining FICSI can also provide valuable resources and networking
				opportunities to help you succeed in your career.
			</p>

			<p class="text-blue-500 font-bold text-2xl mb-3">
				Opportunities for Employers
			</p>
			<p class="mb-3">
				FICSI has a state-of-the-art job portal designed to meet the
				rising demand for skilled manpower in the food production and
				processing industries. Employers can benefit from our job portal
				in the following ways:
			</p>
			<ol class="list-disc pl-5 mb-5">
				<li>Access a pool of skilled candidates</li>
				<li>
					Hire candidates based on experience, expertise, and specific
					job roles
				</li>
				<li>Utilize the platform for branding purposes</li>
			</ol>
			<br />
			<p class="text-blue-500 font-bold text-2xl mb-3">
				Opportunities for Students/Employees
			</p>
			<p class="mb-3">
				Those interested in joining the food processing industry can
				upload their CV and connect with potential employers through a
				single window portal. The job portal offers the following
				features:
			</p>
			<ol class="list-disc pl-5 mb-5">
				<li>
					Search for jobs under desired roles across various
					sub-sectors
				</li>
				<li>
					Regularly update your qualifications after completing new
					food safety courses
				</li>
				<li>
					Receive notifications about new jobs that match your profile
				</li>
			</ol>

			<p class="text-blue-500 font-bold text-2xl mb-3">
				National Food Processing Aptitude Test
			</p>
			<p class="mb-3">
				FICSI conducts the National Food Processing Aptitude Test at
				least twice a year to identify the best talents in the industry.
				The test, which is conducted online on a modern AI-enabled
				assessment portal, covers food processing fundamentals, food
				safety and hygiene, logical reasoning, and IT basics.
			</p>

			<p class="text-blue-500 font-bold text-2xl mb-3">Career Fair</p>
			<p class="mb-3">
				FICSI organizes a Career Fair at least twice a year, providing a
				platform for recruitment in the food processing industry. Food
				tech graduates with 0-2 years of experience are generally
				eligible. This initiative is rapidly becoming a one-stop
				recruitment solution for the industry. The fair is hosted on a
				versatile online platform that allows HR managers to interact
				privately with prospective employees.
			</p>
			<p class="mb-3">
				FICSI also facilitates the Pradhan Mantri National
				Apprenticeship Mela (PMNAM) and Rozgar Mela organized by NSDC.
			</p>

			<p class="text-xl font-bold mb-3">
				For more information on our placement services, contact us
			</p>
			<p class="font-semibold">Rajat Chauhan</p>
			<p class="font-medium">Manager - Employment and Placement</p>
			<p>
				Email: <a
					class="font-bold hover:text-blue-600"
					href="mailto:infoindiafstc@gmail.com"
					>infoindiafstc@gmail.com</a
				>
			</p>
		</section>
		<br />
	</main>
</Layout>

<style></style>
