---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FSTC - Vision & Mission">
	<main class="pt-20 pb-10 min-h-dvh">
		<div class="flex flex-col md:flex-row gap-10 p-10 ">
			<div class="w-full md:w-1/3  bg-red-200 rounded-tl-3xl rounded-br-3xl p-5">
				<p class="text-3xl mb-2">Vision</p>
				<p>
					To be a leading food authority that commands the confidence of
					all stakeholders in protecting the health of the people.
				</p>
			</div>
	
			<div class="w-full md:w-1/3 bg-green-200 rounded-tl-3xl rounded-br-3xl p-5">
				<p class="text-3xl mb-2">Mission</p>
				<p>
					To ensure that food sold in India is safe and fit for
					consumption through tripartite collaboration among the
					Government, food trade and consumers.
				</p>
			</div>
	
			<div class="w-full md:w-1/3 bg-blue-200 rounded-tl-3xl rounded-br-3xl p-5">
				<p class="text-3xl mb-2">Core Values</p>
				<p>
					Integrity, fairness, effectiveness, professionalism,
					responsiveness and transparency.
				</p>
			</div>
		</div>

		<div class="bg-yellow-200 rounded-tl-3xl rounded-br-3xl p-5 m-10 flex flex-col md:flex-row">
			<div class="md:w-2/3">
				<p class="text-3xl mb-2">Logo</p>
			<p>
				The Centre for Food Safety has adopted a lively and warm image
				as its logo since its establishment on 2 May 2006 under the Food
				and Environmental Hygiene Department.
			</p>
			<br>
			<p>
				The orange colour of the Department logo is adopted in the
				design of the Centre logo, which also takes on the green colour
				representing "safety and hope". The capital letters "C", "F",
				"S" in the logo are the abbreviation for "Centre for Food
				Safety". "F" forms the main body which is flanked by two circles
				each containing "C" and "S", and the three entwined components
				signify partnership in food safety and echo the mission of the
				Centre, which is to enhance food safety through proactive
				tripartite collaboration among the Government, food trade and
				consumers.
			</p>
			</div>
			<div class="md:1/3 flex justify-center items-center">
				<img src="/fstc.png" alt="">
			</div>
		</div>
	</main>
</Layout>

<style></style>
