<footer
    class="h-20 bg-gray-300 md:px-20 flex justify-between items-center font-bold text-gray-700"
>
    <div>
        <p>&#169; Food Safety Training Corporation</p>
        <p>All Rights Reserved</p>
    </div>
    <p class="text-sm opacity-75">
        Made with <span class="text-red-500 animate-pulse">&hearts;</span> by <a
            class="text-blue-500"
            target="_blank"
            rel="noopener"
            href="https://github.com/adwait7830">Divyanshu</a
        >
    </p>
</footer>
